@font-face {
	font-family: 'GothamCondensed-Bold';
	src: url('../fonts/GothamCondensed-Bold.eot?') format('eot'), 
		url('../fonts/GothamCondensed-Bold.otf') format('opentype'),
		url('../fonts/GothamCondensed-Bold.woff') format('woff'), 
		url('../fonts/GothamCondensed-Bold.ttf') format('truetype'),
		url('../fonts/GothamCondensed-Bold.svg#GothamCondensed-Bold') format('svg');
}

@font-face {
	font-family: 'GothamCondensed-Light';
	src: url('../fonts/GothamCondensed-Light.eot?') format('eot'), 
		url('../fonts/GothamCondensed-Light.otf') format('opentype'),
		url('../fonts/GothamCondensed-Light.woff') format('woff'), 
		url('../fonts/GothamCondensed-Light.ttf') format('truetype'),
		url('../fonts/GothamCondensed-Light.svg#GothamCondensed-Light') format('svg');
}

* {
	margin: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

html {
	height: 100%;
}

body {
	min-width: 1024px;
	height: 100%;
	background: rgb(85,135,176);
}

#main {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -380px;
}

header {
	width: 100%;
	height: 125px;
	background: white;
	font-family: 'GothamCondensed-Light';
	font-size: 148px;
	color: rgb(100,100,100);
	text-align: center;
	line-height: 125px;
}

#back {
	position: absolute;
	width: 20px;
	height: 125px;
	background: black;
	opacity: 0.25;
	cursor: pointer;
	-webkit-transition: width 0.5s, opacity 0.5s;
	transition: width 0.5s, opacity 0.5s;
}

#back:hover {
	width: 25px;
	opacity: 0.4;
}

#arrow {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-right: 7px solid white;
	border-bottom: 7px solid transparent;
	margin: auto;
}

#hud {
	position: relative;
	width: 99%;
	height: 123px;
	padding: 0.5%;
	box-shadow: 0 -10px 20px rgba(0,0,0,0.12), 0 10px 20px rgba(0,0,0,0.3);
	background: rgb(70,70,70);
	font-family: 'GothamCondensed-Bold';
	font-size: 72px;
	color: white;
	line-height: 60px;
}

#best {
	font-size: 148px;
	line-height: 0;
	float: right;
}

#ribbon {
	position: absolute;
	top: -7px;
	left: 0;
	right: 0;
	width: 25.6%;
	border-top: 75px solid white;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	border-bottom: 75px solid rgb(230,230,230);
	margin: auto;
}

#clock-wipe {
	position: absolute;
	top: -56px;
	left: 0;
	right: 0;
	z-index: 1;
	margin: auto;
	width: 250px;
	height: 250px;
	border-radius: 100%;
	background: white;
}

#mask {
	position: absolute;
	top: 0;
	right: 0;
	width: 125px;
	height: 250px;
	border-radius: 0 250px 250px 0;
	background: white;
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
}

@-webkit-keyframes rotate {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes rotate {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

#semi-circle1 {
	display: inline-block;
	width: 125px;
	height: 250px;
	border-radius: 250px 0 0 250px;
	background: green;
	opacity: 0;
}

#semi-circle2 {
	position: absolute;
	display: inline-block;
	width: 125px;
	height: 250px;
	border-radius: 0 250px 250px 0;
	background: green;
}

#num-display {
	position: absolute;
	top: -56px;
	left: 0;
	right: 0;
	z-index: 1;
	width: 250px;
	height: 250px;
	border-radius: 100%;
	box-shadow: inset 0 0 20px 0 rgba(0,0,0,0.5), inset 0 15px 20px 0 rgba(0,0,0,0.5), 0 0 0 5px white, 0 5px 15px black;
	margin: auto;
	background: rgba(255,255,255,0.85);
	font-family: 'Lato';
	font-size: 250px;
	color: rgb(100,100,100);
	text-align: center;
	line-height: 231px;
}

#num-display.right {
	-webkit-animation: right 0.4s;
	animation: right 0.4s;
}
@-webkit-keyframes right {
	25% { box-shadow: inset 0 0 20px 0 rgba(0,0,0,0.2), inset 0 15px 20px 0 rgba(0,0,0,0.5), 0 0 0 5px white, 0 5px 15px black }
	75% { box-shadow: inset 0 0 20px 0 green, inset 0 15px 20px 0 rgba(0,0,0,0.5), 0 0 0 5px white, 0 5px 15px black }
}
@keyframes right {
	25% { box-shadow: inset 0 0 20px 0 rgba(0,0,0,0.2), inset 0 15px 20px 0 rgba(0,0,0,0.5), 0 0 0 5px white, 0 5px 15px black }
	75% { box-shadow: inset 0 0 20px 0 green, inset 0 15px 20px 0 rgba(0,0,0,0.5), 0 0 0 5px white, 0 5px 15px black }
}

#num-display.wrong {
	-webkit-animation: wrong 0.4s;
	animation: wrong 0.4s;
}
@-webkit-keyframes wrong {
	25% { box-shadow: inset 0 0 20px 0 rgba(0,0,0,0.2), inset 0 15px 20px 0 rgba(0,0,0,0.5), 0 0 0 5px white, 0 5px 15px black }
	75% { box-shadow: inset 0 0 20px 0 red, inset 0 15px 20px 0 rgba(0,0,0,0.5), 0 0 0 5px white, 0 5px 15px black }
}
@keyframes wrong {
	25% { box-shadow: inset 0 0 20px 0 rgba(0,0,0,0.2), inset 0 15px 20px 0 rgba(0,0,0,0.5), 0 0 0 5px white, 0 5px 15px black }
	75% { box-shadow: inset 0 0 20px 0 red, inset 0 15px 20px 0 rgba(0,0,0,0.5), 0 0 0 5px white, 0 5px 15px black }
}

#restart {
	position: absolute;
	top: -56px;
	left: 0;
	right: 0;
	z-index: 1;
	width: 250px;
	height: 250px;
	border-radius: 100%;
	margin: auto;
	background: rgba(0,0,0,0.25);
	opacity: 0;
	cursor: pointer;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

#restart:hover {
	opacity: 1 !important;
}

img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

#highlight {
	position: absolute;
	top: -51px;
	left: 0;
	right: 0;
	z-index: 1;
	width: 175px;
	height: 125px;
	border-radius: 100%;
	box-shadow: 0 0 3px white;
	margin: auto;
	background: -webkit-linear-gradient(white, rgba(255,255,255,0.2));
	background: linear-gradient(white, rgba(255,255,255,0.2));
	pointer-events: none;
}

#hud2 {
	position: absolute;
	z-index: -1;
	width: 100%;
	min-width: 1024px;
	font-family: 'Lobster', cursive;
	font-size: 200px;
	color: rgb(119,159,191);
	line-height: 170px;
}

#score {
	margin-right: 13px;
	float: right;
}

#console {
	position: relative;
	height: 380px;
	width: 100%;
}

div#numpad {
	margin: 0 auto;
	width: 270px;
}

table#numpad {
	position: absolute;
	bottom: 0;
	padding: 10px;
	border-radius: 20px;
	border-collapse: separate;
	border-spacing: 10px;
	box-shadow: inset 0 0 5px rgb(180,180,180), 0 5px 0 rgb(150,150,150);
	background: rgb(210,210,210);
}

table#numpad td {
	width: 50px;
	height: 50px;
	padding: 0;
	border-radius: 5px;
	box-shadow: 0 0.5px 0.5px 1px rgba(0,0,0,0.3), inset 0 -2px 0 1px rgb(190,190,190), inset 0 1px 0 1px rgba(255,255,255,1);
	background: rgb(245,245,245);
	font-family: 'Arial';
	font-size: 16px;
	color: rgb(100,100,100);
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

table#numpad td .text {
	position: relative;
	top: -1px;
}

table#numpad td.words {
	font-size: 12px;
	line-height: 13px;
}

table#numpad td.symbol {
	font-size: 18px;
	color: rgb(131,131,131);
}

table#numpad td:hover {
	box-shadow: 0 0.5px 0.5px 1px rgba(0,0,0,0.3), inset 0 -2px 0 1px rgb(190,190,190);
	background: rgb(230,230,230);
}

table#numpad td:active {
	box-shadow: 0 0 3px rgb(210,210,210), inset 0 0 0 1px rgb(210,210,210), inset 0 0 1px 1px rgb(230,230,230);
}

table#numpad td:active .text {
	top: 0;
}

table#numpad td.press {
	box-shadow: inset 0 0 0 1px rgb(210,210,210), inset 0 0 1px 1px rgb(230,230,230);
}

table#numpad td.press .text {
	top: 0;
}

#bars {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	width: 100%;
	min-width: 1024px;
	margin: auto;
	text-align: center;
	overflow: hidden;
}

.bar {
	position: relative;
	display: inline-block;
	width: 50px;
	margin: 0 10px -5px;
	background: white;
}

@media (max-width: 1342px) {
	.bar.one {
		display: none;
	}
}

@media (max-width: 1194px) {
	.bar.two {
		display: none;
	}
}

@media (max-width: 1046px) {
	.bar.three {
		display: none;
	}
}